#root > div > div > div > div > div > div.ten.wide.column.map-container > div > div {
    height: 90vh!important;
    margin: -1px!important;
    margin-left: -2px!important;
    border-radius: 5px;
    right: -1px!important;
    bottom: -3px!important;
    min-height: 600px!important;
}
